@page "/"
@namespace BlazorGames.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blazor Games</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>

<script>
    var count = 0, chkfn = null;
    function startTimer() {
        // Call function with 1000 milliseconds gap
        count = 0;
        chkfn = setInterval(updateCount, 1000);
    }
    function updateCount() {
        count += 1;
        //document.getElementById("pcount").innerHTML = "Your Time Starts: " + count;
    }
    function getTimeCount() {
        return count;
    }
    function stopTimer() {
        clearInterval(chkfn);
        chkfn = null;
        //document.getElementById("pcount").innerHTML = '';
    }
</script>
